<div id="route-header">Blog</div>

{{#paper-grid-list
    cols="1 sm-2 md-4 gt-md-4"
    rowHeight="gt-md-1:1 2:2"
    gutter="12px gt-sm-16px" as |grid|}}

    {{#each posts as |post|}}
        {{#grid.tile as |tile|}}
        {{#paper-button class="profile-button" raised=false href=(href-to "app.blog.post" post.id)}}

        {{/paper-button}}
        <img src={{post.pic}} class="fit-image">
        {{#tile.footer class="grid-tile-footer"}}
            <div class="layout-row flex">
                <div class="flex-initial icon-padding">{{paper-icon post.icon class="white" size=36}}</div>
                <div class="layout-column flex">
                    <div class="flex"><h3>{{post.title}}</h3></div>
                </div>
            </div>
        {{/tile.footer}}
        
        {{/grid.tile}}
    {{/each}}
{{/paper-grid-list}}