<div id="route-header">Blog</div>

{{#paper-grid-list
    cols="1 sm-2 md-3 gt-md-3"
    rowHeight="gt-md-1:1 2:2"
    gutter="12px gt-sm-16px" as |grid|}}

    {{#each posts as |post|}}
        {{#grid.tile as |tile|}}
        {{#paper-button class="profile-button" raised=false href=(href-to "app.blog.post" post.id)}}

        {{/paper-button}}
        <img src={{post.imgSrc}} class="fit-image">
        {{#tile.footer class="grid-tile-footer"}}
            <div class="layout-row flex">
                <div class="layout-column flex">
                    <div class="flex archive-head">{{post.title}}</div>
                    <div class="flex archive-subhead">{{post.author.displayName}} | {{mmddyy post.published}}</div>
                </div>
            </div>
        {{/tile.footer}}
        
        {{/grid.tile}}
    {{/each}}
{{/paper-grid-list}}