<div class="page">
{{#paper-tabs
  primary=true
  accent=true
  primary=true
  center=true
  stretch=stretch
  borderBottom=borderBottom
  selected=selectedBasicTab
  onChange=(action (mut selectedBasicTab)) as |tabs|}}
  {{#tabs.tab value="home" href=(href-to "home")}}
    Home
  {{/tabs.tab}}
  {{#tabs.tab value="home.play" href=(href-to "home.play")}}
    Play
  {{/tabs.tab}}
  {{#tabs.tab value="home.blog" href=(href-to "home.blog")}}
    Blog
  {{/tabs.tab}}
  {{#tabs.tab value="home.team" href=(href-to "home.team")}}
    Team
  {{/tabs.tab}}
  {{#tabs.tab value="home.about" href=(href-to "home.about")    }}
    About
  {{/tabs.tab}}
{{/paper-tabs}}

{{liquid-outlet class="md-padding"}}

</div>